﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DisplayUserControl1.ascx.cs" Inherits="assignment2a.Code_Show.DisplayUserControl1" %>
 <asp:DataGrid ID="Code_FrontEnd" runat="server" CssClass="code"
        GridLines="None" Width="490px" CellPadding="2" margin-top="20px" >
        <HeaderStyle Font-Size="Large" BackColor="#999966" ForeColor="White" />
        <ItemStyle BackColor="#1a1d23" ForeColor="#ffffff"/>     
    </asp:DataGrid>